@import url('https://fonts.googleapis.com/css?family=Exo+2|Neucha|PT+Sans:700|Francois+One|Montserrat');

// Mixins

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin animate($name, $time, $delay, $fill) {
  animation: $name $time;
  animation-delay: $delay;
  animation-fill-mode: $fill;
}

// App

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

// Header

#header {
  @include flex(row, center, center);
  width: 100%;
  height: 75px;
  background-color: #407089;

  .header-links {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
    padding: 20px;
    text-transform: uppercase;
  }
}
